html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    background-color: #9fdefe;
}

h1 {
    margin: 0;
    padding: 2rem;
    text-align: center;
}

main {
    max-width: 25rem;
    padding: 1rem;
    margin: 0 auto;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0 0 1rem 0;
}

header nav a {
    color: #000;
}

header nav input {
    background-color: transparent;
    border: none;
    text-decoration: underline solid #000;
    cursor: pointer;
    padding: 0;
}
